@model IEnumerable<GreaTreasure.Models.Book>

@{
    ViewData["Title"] = "Books";
    var isSpaceError = TempData["NoSpaceError"]?.ToString() == "true";
    var isTooMuchSpace = TempData["TooMuchSpaceAlert"]?.ToString() == "true";
    var errorMessage = TempData["ErrorMessage"]?.ToString();
}

<h1>
    @if (Model != null && Model.Any())
    {
        @Model.First().ShelfName
    }
    else
    {
        @:מדף ריק
    }
</h1>

<p>
    <a asp-action="CreateBook" asp-route-id="@TempData["shelfID"]">הוסף ספר</a>
    <a asp-action="CreateBookSet" asp-route-id="@TempData["shelfID"]" class="btn btn-primary">הוסף סט ספרים</a>
</p>
@if (isSpaceError)
{
    <div class="alert alert-danger">
        <p>אין מספיק מקום לספר במדף!</p>
    </div>
}
@if (isTooMuchSpace)
{
    <div class="alert alert-warning">
        <p>גובה הספר קטן משמעותית מגובה המדף!</p>
    </div>
}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        <p>@errorMessage</p>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>מספר זיהוי</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Width)</th>
            <th>@Html.DisplayNameFor(model => model.Height)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Width)/@Html.DisplayFor(modelItem => item.ShelfWidth)</td>
                    <td>@Html.DisplayFor(modelItem => item.Height)/@Html.DisplayFor(modelItem => item.ShelfHeight)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
